<!DOCTYPE html>
<html>
  <head>
    <title>Biobox</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <footer class="navbar-default navbar-fixed-bottom">
      <div class="container-fluid">
        <div class='alert alert-info text-center' role="alert">
          <span>Desarrolado por: Gerald J. Padilla. &#8226; gpadillaq@gmail.com</span>
        </div>
	  </div>
	</footer>
  </body>
</html>
